body {
    background-color: #04073D;
}

.title {
    font-family: 'Carton Six', sans-serif;
    font-size: 7vw;
    background: linear-gradient(45deg, rgba(188, 132, 220, 0.81) 22%, rgba(4, 148, 236, 0.80) 37%, rgba(164, 255, 145, 0.90) 61%, rgba(212, 236, 124, 0.80) 82%, rgba(255, 228, 90, 1)100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.container-elements {
    position: relative;
}

.elements {
    position: absolute;
}

#img1 {
    width: 20%;
    margin-top: 0;
    margin-left: 0;
}

#img2 {
    width: 20%;
    margin-top: 20%;
    margin-left: 80%;
}

#img3 {
    width: 20%;
    margin-top: 100%;
    margin-left: 0%;
}

.text-bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 15px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 2em;
    overflow: hidden;
}

.island {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.islandName {
    font-family: 'Carton Six', sans-serif;
    letter-spacing: 3px;
}

.islandShortDesc {
    font-family: 'Raleway', sans-serif;       
}